/* ToolBox.css */
#toolbox .columns-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#toolbox .column {
    flex: 1;
    min-width: 10%; /* 确保每列至少占10%的宽度 */
    margin-right: 10px; /* 添加一些右边距 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#toolbox .column:last-child {
    margin-right: 0; /* 最后一列不需要右边距 */
}

#toolbox a {
    text-decoration: none; /* 去掉下划线 */
    color: #FF00FF; /* 设置链接颜色 */
    transition: color 0.3s; /* 添加颜色过渡效果 */
    margin-bottom: 10px; /* 添加一些底部间距 */
    text-align: center; /* 文本居中对齐 */
    display: block; /* 确保链接独占一行 */
}

#toolbox a:hover {
    color: #FF8C00; /* 设置悬停时的颜色 */
}