/* 1.1 网页背景颜色和字体 */
body {
    background: linear-gradient(45deg, 
        rgba(255, 182, 193, 0.2),  /* 淡粉色 */
        rgba(255, 223, 186, 0.2),  /* 淡橙色 */
        rgba(255, 255, 182, 0.2),  /* 淡黄色 */
        rgba(193, 255, 193, 0.2),  /* 淡绿色 */
        rgba(186, 223, 255, 0.2),  /* 淡蓝色 */
        rgba(216, 191, 216, 0.2),  /* 淡紫色 */
        rgba(255, 182, 193, 0.2)   /* 淡粉色 */
    );
    background-size: cover; /* 背景图像填充整个容器 */
    background-repeat: no-repeat; /* 不显示重复的背景图像 */
    background-position: center; /* 将背景图像居中 */
    margin: 0; /* 允许内容溢出容器 */
    padding: 0; /* 允许内容溢出容器 */
    overflow-x: hidden; /* 隐藏水平滚动条 */
    font-family: Arial, sans-serif; /* 设置字体 */
    font-size: 1rem; /* 使用相对单位-24.12.31-新增 */
    line-height: 1.5; /* 行高-24.12.31-新增 */
}
/* 1.2 限定所有容器 */
.container {
    max-width: 100%; /* 宽度为100% */
    box-sizing: border-box; /* 确保 padding 和 border 不会增加元素的总宽度 */
    padding: 1rem; /* 使用相对单位-24.12.31-新增 */
}