/* 3.第二栏：导航栏 */
.second-bar {
    display: flex;  /* 将导航栏设置为Flex布局 */
    justify-content: center;  /* 将导航栏元素水平居中 */
    align-items: center;  /* 将导航栏元素垂直居中 */
    background-color: #003366; /* 深蓝色背景 */
    padding: 10px 20px;  /* 设置导航栏内边距 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
    padding: 1rem; /* 使用相对单位-24.12.31-新增 */
}
/* 3.1 链接文字 */
.second-bar-links a {
    text-decoration: none; /* 去除默认链接样式 */
    color: white; /* 白色字体 */
    transition: color 0.3s ease; /* 添加过渡效果 */
    margin-left: 1rem; /* 使用相对单位-24.12.31-新增 */
    font-size: 1.5rem; /* 使用相对单位-24.12.31-新增 */
}
/* 3.1.1 链接文字-悬停 */
.second-bar-links :hover {
    color: #ffcc00; /* 悬停时黄色字体 */
}

/* 3.2 下拉菜单 */
.dropdown {
    position: relative; /* 定义下拉菜单的父元素 */
    display: inline-block; /* 定义下拉菜单为行内块元素 */
}
/* 3.2.1 下拉菜单-悬停指针 */
.dropdown .dropbtn {
    margin-left: 20px; /* 左外边距20px */
    text-decoration: none; /* 去除默认链接样式 */
    color: white; /* 白色字体 */
    font-size: 1.5rem; /* 字体大小1.5rem */
    transition: color 0.3s ease; /* 添加过渡效果 */
    cursor: pointer; /* 鼠标悬停时显示为指针 */
}
/* 3.2.2 下拉菜单-悬停 */
.dropdown .dropbtn:hover {
    color: #ffcc00; /* 悬停时黄色字体 */
}

/* 3.3 下拉菜单选项 */
.dropdown-content {
    display: none; /* 初始时隐藏下拉菜单 */
    position: absolute; /* 定义下拉菜单的位置 */
    background-color: #003366; /* 深蓝色背景 */
    min-width: 160px; /* 最小宽度为160px */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /* 层叠顺序 */
}
/* 3.3.1 下拉菜单选项-文字 */
.dropdown-content a {
    color: white; /* 白色字体 */
    font-size: 0.8rem; /* 使用相对单位-24.12.31-新增 */
    padding: 0.5rem; /* 使用相对单位-24.12.31-新增 */
    text-decoration: none; /* 去除默认链接样式 */
    display: block; /* 将链接设置为块级元素 */
    text-align: left; /* 文本对齐方式 */
    transition: background-color 0.3s ease;
    white-space: nowrap; /* 防止文本换行 */
}
/* 3.3.2 下拉菜单选项文字-悬停 */
.dropdown-content a:hover {
    color: #ffcc00; /* 悬停时黄色字体 */
}
/* 3.3.3 下拉菜单选项文字-凸显 */
.dropdown:hover .dropdown-content {
    display: block;
}
