/* Download.css */
#download .columns-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#download .column {
    flex: 1;
    min-width: 18%; /* 确保每列至少占18%的宽度，以便每行显示5列 */
    margin-right: 10px; /* 添加一些右边距 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 水平居中对齐 */
}

#download .column:last-child {
    margin-right: 10px; /* 最后一列不需要右边距 */
}

#download a {
    text-decoration: none; /* 去掉下划线 */
    color: #6495ED; /* 设置链接颜色 */
    transition: color 0.3s; /* 添加颜色过渡效果 */
    margin-bottom: 10px; /* 添加一些底部间距 */
    text-align: center; /* 文本居中对齐 */
    display: block; /* 确保链接独占一行 */
}

#download a:hover {
    color: #228B22; /* 设置悬停时的颜色 */
}
